@media all and (max-width: 670px) {
    .header-list {
        display: none;
    }
    
    .header-menu-icon {
        display: block;
    }

    .header-logo {
        font-size: 30px;
    }

    .footer-image img {
        transform: scale(.5);
    }

    .footer-text {
        display: block;
        padding: 20px auto;
        margin: 0 auto;
    }
}