@media all and (max-width: 670px) {

    header {
        height: 60px;
    }

    .header-list {
        display: none;
    }
    
    .header-menu-icon {
        display: block;
    }

    .header-logo {
        font-size: 22px;
    }

    .footer-image {
        display: block;
        margin: 0;
    }

    .footer-image img {
        width: 100%;
        height: auto;
    }

    .footer-text {
        display: block;
        text-align: left;
        padding-top: 20px;
        padding-bottom: 40px;
        padding-left: 0;
        margin-left: 0;
    }

    .footer-copyright {
        font-size: 10px;
    }

    .page-header-title {
        padding-top: 100px;
        padding-bottom: 40px;
    }

    .biography-image {
        width: 100%;
        height: auto;
    }

    .biography-profile p {
        text-align: left;
    }

    .live-image {
        width: 100%;
        height: auto;
    }

    .news-image {
        width: 100%;
        height: auto;
    }

    .gallery-image {
        width: 100%;
        height: auto;
    }

    .discography-image {
        width: 100%;
        height: auto;
    }

    .discography-content {
        margin-bottom: 20px;
    }

}