@media all and (max-width: 670px) {

    header {
        height: 60px;
    }

    .header-list {
        display: none;
    }
    
    .header-menu-icon {
        display: block;
    }

    .header-logo {
        font-size: 22px;
    }

    .footer-image {
        display: block;
        margin: 0;
    }

    .footer-image img {
        width: 100%;
    }

    .footer-text {
        display: block;
        text-align: left;
        padding-top: 0;
        padding-bottom: 20px;
        padding-left: 0;
        margin-left: 0;
    }

}